layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b8cacd"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b8cacd"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b8cacd"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b8cacd80"
    }
}

recent-windows {
    highlight {
        active-color   "#39494c"
        urgent-color   "#ffb4ab"
    }
}